<div class="container">
    <% provide(:title, "Log in") %>
    <center> <h3>LOGIN</h3> </center>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3> Log in to enter the <br>
                wonderland of <br>
                fashion...</h3>
            <br><br>
            <%= form_for(:session, url: login_path) do |f| %>
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
                <br><br>
                <% flash.each do |type, msg| %>
                    <p style="color: red;"> <%= msg %> </p>
                <% end %>
                <%= f.submit "Log in", class: "btn btn-default btn-lg btn-block" %>
            <% end %>
            <br>
            <center> <p>New to us? <%= link_to "Sign up", signup_path %></p> </center>
        </div>
    </div>
</div>