<div class="container">
    <center> <h1> <%= @type %> </h1> </center>
    <br>
    <div class="row">
        <% @items.each do |item| %>
            <div class="col-md-3">
                <div style="height: 300px; background-color: silver;">
                    <h4> <%= item.name %>  </h4>
                    <form action="/save" method="POST">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

                        <input type="hidden" value="<%= item.id %>" name="itemId">
                        <input type="hidden" value="/collection/<%= @type.downcase %>" name="location">
                        <% if item.saveList  %>
                            <button type="submit"><span class="glyphicon glyphicon-minus" style="font-size: 35px;" aria-hidden="true"></span></button>
                        <% else %>
                            <button type="submit"><span class="glyphicon glyphicon-plus-sign" style="font-size: 35px;" aria-hidden="true"></span></button>
                        <% end %>
                    </form>
                </div>
            </div>
        <% end %>
    </div>
</div>