<div class="container">
    <center> <h1> Home </h1> </center>
    <div class="row" style="height: 600px; background-image: linear-gradient(to top, grey , silver);">
        
        <%= @randomItem.name %>
        <br>
        <%= @randomItem.description %>
        <br>
        <%= @randomItem.price %>  
        <br>
        
        <form action="/save" method="POST">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="hidden" value="<%= @randomItem.id %>" name="itemId">
            <button type="submit"><span class="glyphicon glyphicon-plus-sign" style="font-size: 35px;" aria-hidden="true"></span></button>
        </form>
    </div>
    <div>
        <br>
        <div class="row">
            <div class="col-md-10">
                <h1> Popular </h1>
            </div>
            <div class="col-md-2">
                <%= link_to "collection/all" do %>
                    <h3> See all + </h3>
                <% end %>
            </div>
        </div>
        <br>
        <div class="row">
            <% @popularItems.each do |item| %>
                <div class="col-md-3">
                    <div style="height: 300px; background-color: silver;">
                        <h4> <%= item.name %>  </h4>
                        <form action="/save" method="POST">
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

                            <input type="hidden" value="<%= item.id %>" name="itemId">
                            <% if item.saveList  %>
                                <button type="submit"><span class="glyphicon glyphicon-minus" style="font-size: 35px;" aria-hidden="true"></span></button>
                            <% else %>
                                <button type="submit"><span class="glyphicon glyphicon-plus-sign" style="font-size: 35px;" aria-hidden="true"></span></button>
                            <% end %>
                        </form>
                    </div>
                </div>
            <% end %>
        </div>
        <br><br><br>
    </div>
    <hr style="border: 1px solid grey;">
    <div>
        <br>
        <div class="row">
            <div class="col-md-10">
                <h1> Collection </h1>
            </div>
            <div class="col-md-2">
                <%= link_to "collection/all" do %>
                    <h3> See all + </h3>
                <% end %>
            </div>
        </div>
        <br><br>
        <%= link_to "collection/women" do %>
            <div class="row">
                <div style="height: 300px; background-color: white;">
                    <h4> <b> Women </b> </h4>
                    <h5> <%= @womenSize %> ITEMS </h5>
                </div>
            </div>
        <% end %>
        <br>
        <div class="row">
            <div class="col-md-6">
                <%= link_to "collection/men" do %>
                    <div class="row">
                        <div style="height: 150px; background-color: white;">
                            <h4> <b> Men </b> </h4>
                            <h5> <%= @womenSize %> ITEMS </h5>
                        </div>
                    </div>
                <% end %>
                <br>
                <%= link_to "collection/kids" do %>
                    <div class="row">
                        <div style="height: 150px; background-color: white;">
                            <h4> <b> Kids </b> </h4>
                            <h5> <%= @womenSize %> ITEMS </h5>
                        </div>
                    </div>
                <% end %>
            </div>
            <%= link_to "collection/new" do %>
                <div class="col-md-6">
                    <div style="height: 330px; background-color: white;">
                        <h4> <b> New-Ins </b> </h4>
                        <h5> <%= @womenSize %> ITEMS </h5>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    
    <div>
        <br><br>
        <h1> Newsletter </h1>
        <h4> sign up with our newsletter... </h4>
        <br>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">@example.com</span>
            
        </div>
        <input class="btn btn-default" type="submit" value="Submit">
        <br><br><br>
    </div>
</div>
